<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Completed datetime</th>
      <th>Address</th>
      <th>Status</th>
      <th>Weight</th>
      <th>Customer</th>
      <th>Staff</th>
      <th>Drone</th>
      <th>Assigned datetime</th>
      <th>Shipped datetime</th>
      <th>Estimated arrival</th>
      <th>Length</th>
      <th>Breadth</th>
      <th>Height</th>
      <th>Estimated value</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.completed_datetime %></td>
        <td><%= order.address.road %> <%= order.address.district %> <%= order.address.city %></td>
        <td><%= order.status %></td>
        <td><%= order.weight %></td>
        <td><%= order.customer.email %></td>
        <td><%= order.staff %></td>
        <td><%= order.drone %></td>
        <td><%= order.assigned_datetime %></td>
        <td><%= order.shipped_datetime %></td>
        <td><%= order.estimated_arrival %></td>
        <td><%= order.length %></td>
        <td><%= order.breadth %></td>
        <td><%= order.height %></td>
        <td><%= order.estimated_value %></td>
        <td><%= order.description %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
