<p id="notice"><%= notice %></p>

<p>
  <strong>Street address:</strong>
  <%= @address.street_address %>
</p>

<p>
  <strong>Road:</strong>
  <%= @address.road %>
</p>

<p>
  <strong>District:</strong>
  <%= @address.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Gps latitude:</strong>
  <%= @address.gps_latitude %>
</p>

<p>
  <strong>Gps longitude:</strong>
  <%= @address.gps_longitude %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @address.customer %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
